/* Containers for the background effects. */
.canvas{
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
}
*{
    padding: 0%;
    margin: 0%;
}

/* Containers for the "header" */
#title-container{
    border: 1px solid yellow;
    color: green;
    background-color: transparent;
    position: absolute;
    text-align: center;
    top: 10%;
    width: auto;
    height: auto;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

#bluf-container {
    color: white;
    position: absolute;
    top: 50%;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h1{
    font-size: 5em;
}

h3{
    font-size: 2em;
}

/* Footer containers */
#social-media-container{
    position: fixed;
    bottom: 0%;
    font-size: 30px;
}

.fa {
    padding: 20px;
    border-radius: 50%;
    border: 3px solid grey;
}